* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom Scroll Bar  */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************************************* Development Mode *************************************/

.editor-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-editor-nav {}

.right-editor-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.editorStyle {
  margin-top: 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.btn-small {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.react-codemirror2 {}

.bottom-pane {
  margin: -10px 10px 0 10px;
}

.rotate {
  animation: rotateIcon 0.5s forwards;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}