* {
    margin: 0;
    padding: 0;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #17a2b8;
}

/* Landing Page */

.landing {
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    width: 100vw;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, .7);
    width: 100vw;
    height: 93vh;
}

#landing-heading {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#landing-heading-small {
    color: white;
    font-size: larger;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 10px;
}

.landing-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.landing-btns a:nth-child(1) {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: #17a2b8;
    padding: 10px 16px 10px 16px;
    margin: 10px;
}


.landing-btns a:hover:nth-child(1) {
    background-color: rgb(57, 99, 136);
}

.landing-btns a:nth-child(2) {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 16px 10px 16px;
    margin: 10px;
    background: white;
    color: black
}

.landing-btns a:hover:nth-child(2) {
    color: #17a2b8;
}