* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.editorStyle {
  margin-top: 15px;
}

.bottom-pane {
  margin: -10px 10px 0 10px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}